<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title style="text-align: center;">
      EXERCÍCIOS DE REVISÃO - IONIC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="alert-ex1"></div>

  <div class="ex1" style="text-align: center; background-color: #0163aa; padding: 20px">
    <h1>Exercício 1</h1>
    <ion-input label="Digite o preço do tênis" labelPlacement="floating" placeholder="Apenas números" style="width: 200px"></ion-input>
  </div>
</ion-content>
