<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-title style="text-align: center;">
      EXERCÍCIOS DE REVISÃO - IONIC - AT
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="alert_ex1">
    <ion-alert
      trigger="ver-total-tenis"
      header="Resultado"
      message="{{res_ex1}}"
      [buttons]="alertButtons"
    ></ion-alert>
  </div>

  <div class="ex1" style="padding: 10px">
    <h1 style="text-align: center; font-size: 1.5rem;">Exercício 1</h1>
    <ion-item-divider></ion-item-divider>
    <ion-input label="Digite o preço do tênis" labelPlacement="floating" placeholder="Apenas números" [(ngModel)]="preco_tenis"></ion-input>
    <ion-item-divider></ion-item-divider>
    <p>Escolha o tipo de desconto:</p>
    <ion-radio-group [(ngModel)]="tipoDesconto">
      <ion-radio value="10%">10%</ion-radio><br /><br>
      <ion-radio value="20%">20%</ion-radio><br /><br>
      <ion-radio value="30%">30%</ion-radio><br /><br>
      <ion-radio value="sem-cupom">Sem cupom</ion-radio><br><br>
    </ion-radio-group>
    <ion-button expand="block" id="ver-total-tenis" style="max-width: 200px" (click)="Desconto()">Calcular</ion-button>
  </div>

  <ion-item-divider color="light"></ion-item-divider>

    <div class="alert_ex2">
      <ion-alert
        trigger="ver-total-setup"
        header="Resultado"
        message="{{res_ex2}}"
        [buttons]="alertButtons"
      ></ion-alert>
  </div>

  <div class="ex2" style="padding: 10px">
    <h1 style="text-align: center; font-size: 1.5rem;">Exercício 2</h1>
    <ion-item-divider></ion-item-divider>
    <ion-input label="Digite o orçamento disponível" labelPlacement="floating" placeholder="Apenas números" [(ngModel)]="orcamento"></ion-input>
    <ion-item-divider></ion-item-divider>
    <p>Selecione o tipo de setup:</p>
    <ion-radio-group [(ngModel)]="tipoSetup">
      <ion-radio value="básico">Básico</ion-radio><br /><br>
      <ion-radio value="intermediário">Intermediário</ion-radio><br /><br>
      <ion-radio value="avançado">Avançado</ion-radio><br /><br>
    </ion-radio-group>
    <ion-button expand="block" id="ver-total-setup" style="max-width: 200px" (click)="V_Orcamento()">Verificar</ion-button>
  </div>

  <ion-item-divider color="light"></ion-item-divider>

  <div class="alert_ex3">
    <ion-alert
      trigger="ver-total-pedido"
      header="Resultado"
      message="{{res_ex3}}"
      [buttons]="alertButtons"
    ></ion-alert>
  </div>

  <div class="ex3" style="padding: 10px">
    <h1 style="text-align: center; font-size: 1.5rem;">Exercício 3</h1>
    <ion-item-divider></ion-item-divider>
    <ion-input label="Digite o valor do pedido" labelPlacement="floating" placeholder="Apenas números" [(ngModel)]="pedido"></ion-input>
    <ion-item-divider></ion-item-divider>
    <ion-input label="Digite o número de pessoas" labelPlacement="floating" placeholder="Apenas números" [(ngModel)]="pessoas"></ion-input>
    <ion-item-divider></ion-item-divider>
    <p>Selecione a taxa:</p>
    <ion-radio-group [(ngModel)]="tipoTaxa">
      <ion-radio value="frete-grátis">Frete Grátis</ion-radio><br /><br>
      <ion-radio value="+10%">10%</ion-radio><br /><br>
      <ion-radio value="+15%">15%</ion-radio><br /><br>
    </ion-radio-group>
    <ion-button expand="block" id="ver-total-pedido" style="max-width: 200px" (click)="C_Delivery()">Calcular</ion-button>
  </div>
</ion-content>
